<footer>
    <p>
        Para la realización de este sitio web se usó el editor
        <a href="https://code.visualstudio.com/">Visual Studio Code</a>
    </p>
    <br />
    <h3>Referencias:</h3>
    <p class="reference">
        What is EJS?. (2022). Retrieved 27 February 2022, from https://ejs.co/#install
    </p>
</footer>
