/lab 11/node_modules
/lab 12/node_modules
/lab 14/node_modules
/lab 15/node_modules
/lab 16/node_modules
/lab 17/node_modules
/lab 18/node_modules
/lab 19/node_modules
/lab 20/node_modules
/lab 21/node_modules