<%- include('includes/head.ejs'); -%> <%- include('includes/navbar.ejs'); -%>
<h1>Preguntas</h1>
<ul class="collection">
    <li class="collection-item">
        <h4>¿Qué beneficios encuentras en el estilo MVC?</h4>
        <p>Es más sencillo agregaar nuevos tipos de datos y fucionalidades ya que son independientes del funcionamiento de otras capas. Además creaa independencia y facilita el mantenimiento de la aplicación.</p>
        <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4>
        <p>Le agrega complejidad al sistema, los archivos que se deben mantener y desarrollar incrementany la curva de aprendizaje del patrón es grande.</p>
    </li>
</ul>
<%-include('includes/footer.ejs'); -%>
