<header>
    <h1>Laboratorio 12: HTML DINAMICO</h1>
    <h3 class="data">Pablo César Jiménez Villeda</h3>
    <h3 class="data">ID: A01703517</h3>
    <h3 class="data">pablocesarjimenezvilleda@gmail.com</h3>
</header>
