<%- include('includes/head.ejs'); -%> <%- include('includes/navbar.ejs'); -%>
<h1>Preguntas</h1>
<ul class="collection">
    <li class="collection-item">
        <h4>¿Qué otros templating engines existen para node?</h4>
        <ol class="m-3">
            <li>Pug</li>
            <li>Handlebars</li>
            <li>Haml.js</li>
            <li>combyne.js</li>
            <li>Nunjucks</li>
            <li>marko</li>
        </ol>
    </li>
</ul>
<%-include('includes/footer.ejs'); -%>
